<!--                Search                 -->
<div class="main">
    <div style="margin-right: 2vh;">
        <mat-form-field appearance="outline" class="widthh">
            <mat-icon matPrefix style="font-size: 22px;color: #b0b0b0;">search</mat-icon>
            <input matInput type="search" placeholder="Search" [(ngModel)]="value">
        </mat-form-field>
    </div>
    <button mat-raised-button (click)="val()"
        style="background-color: #0085FF;color: white;margin-top: -2px;">Search</button>
</div>