.sidenav {
    box-shadow: none !important;
    border: 1px solid rgb(233, 232, 232) !important;
    border-radius: 15px !important;
    padding-top: 1vh;
    margin: 1.5vh 10px;
    width: 280px;
    height: auto;
    -webkit-box-shadow: -2px -1px 21px -4px rgba(3, 3, 3, 1);
    -moz-box-shadow: -2px -1px 21px -4px rgba(3, 3, 3, 1);
}

.tooll {
    margin-top: 15px;
    margin-left: 15px;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.sidenav-title {
    margin: 18px 0px 10px 22px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #969696;
}

.sidee {
    margin: 0px 10px;
    padding: 5px 0px 0px 15px;
    border-radius: 8px;
    color: #969696;
    display: flex;
    cursor: pointer;
}

.sidee1 {
    margin: 1.5px 0px 8px 10px;
}

.sidee2 {
    background-color: #e6f3ff;
    color: black;
    padding-top: 8px;
}

.sidee3 {
    color: #0085ff !important;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-icon {
    color: #969696;
}

mat-sidenav-container {
    position: relative;
    flex-direction: row;
    height: 100%;

}

@media only screen and (min-width: 3500px)and (max-width:4500px) {
    mat-sidenav-container {
        position: relative;
        flex-direction: row;
        height: 100%;
    }

}