<div class="third-row">

    <div class="button-tabs">

 
    <!-- Calender  -->
    <div class="cale">
        <mat-form-field class="example-form-field" appearance="outline" style="width: 220px; height: 1vh;">
            <mat-date-range-input [formGroup]="campaignTwo" [rangePicker]="campaignTwoPicker"
                [comparisonStart]="campaignTwo.value.start" [comparisonEnd]="campaignTwo.value.end">
                <input matStartDate placeholder="Start date" formControlName="start">
                <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="campaignTwoPicker"></mat-datepicker-toggle>
            <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
            <mat-date-range-picker #campaignTwoPicker></mat-date-range-picker>
        </mat-form-field>
    </div>
    <!-- Filter -->
    <div class="filter">
        <mat-form-field appearance="outline" style="width: 150px; height: 1vh">
            <div style="padding: 0;display: flex;">
                <mat-select placeholder="Filter by" (selectionChange)="getselectedValue3($event.value)" name="filter"
                    multiple [(ngModel)]="Filter3Selected">
                    <mat-option *ngFor="let filter of Filter3" [value]="filter">
                        {{filter}}
                    </mat-option>
                </mat-select>
            </div>
        </mat-form-field>
    </div>
    <!-- Export Button -->

    <div class="matt-button">
        <button mat-raised-button style="
            background-color: #0085FF;
            border-radius: 5px;
            color: white;
            width: 150px;
            display:flow-root;
        ">Export Details</button>
    </div>
</div>
    <!-- Top Paginator -->
<div>
    <mat-paginator #paginator [pageSize]="5" [pageIndex]='0' (page)="handlePageEvent($event)" aria-label="Select page">
    </mat-paginator>
</div>
    
</div>



<!-- Table -->

<div class="mat-elevation-z8">
    <div class="table-class" style="height: 58vh;width:90%;">
        <table mat-table [dataSource]="dataSource">

            <!--- Note that these columns can be defined in any order.
The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="Policy">
                <th mat-header-cell *matHeaderCellDef> Policy </th>
                <td mat-cell *matCellDef="let element">
                    <div style="display: flex;">
                        <!-- <img [src]="element.Policy.PolciIcon"/> -->
                        <p>{{element.Policy.PolciIcon}}</p>
                        <p style="padding-right:5px; padding-left: 5px;">{{element.Policy.PolicType}}</p>
                        <p>{{element.Policy.PolicyNumber}}</p>
                    </div>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Insurer">
                <th mat-header-cell *matHeaderCellDef> Insurer </th>
                <td mat-cell *matCellDef="let element">
                    <div style="display: flex;">
                        <!-- <img [src]="element.Policy.PolciIcon"/> -->
                        <p style="padding-right:5px;">{{element.Inurer.InsurerIcon}}</p>
                        <p>{{element.Inurer.InsurerName}}</p>
                    </div>
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element">
                    <p>{{element.Description}}</p>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Cost / Billed">
                <th mat-header-cell *matHeaderCellDef> Cost / Billed </th>
                <td mat-cell *matCellDef="let element">
                    <p *ngIf="element.Cost.Color=='Red';" style="color: red">{{element.Cost.Cost}}</p>
                    <p *ngIf="element.Cost.Color=='Red';" style="color: red">{{element.Cost.Billed}}</p>
                </td>
            </ng-container>
            <ng-container matColumnDef="Term">
                <th mat-header-cell *matHeaderCellDef> Term </th>
                <td mat-cell *matCellDef="let element">
                    <p>{{element.Term.TermStart}}</p>
                    <p>{{element.Term.TermEnd}}</p>
                </td>
            </ng-container>
            <ng-container matColumnDef="Status" >
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                    <p *ngIf="element.Status.Color!='Red'; else elseblock" style="color: rgb(22, 253, 22);text-align: center;">
                      <mat-icon class="notIcon">fiber_manual_record</mat-icon>
                    </p>
                    <ng-template #elseblock>
                        
                        <p style="color: red;text-align: center;"><mat-icon class="notIcon">fiber_manual_record</mat-icon></p>
                    </ng-template>
                </td>
            </ng-container>
            <ng-container matColumnDef=" ">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <span class="icon" (click)="clickIcon($event)">
                        <mat-icon style="color: #acabab; cursor: pointer; padding-top:5px; font-size: 25px;">more_horiz
                        </mat-icon>
                    </span>
                    <div *ngIf="openOverlay" [style.top.px]="overlayTop" [style.left.px]="overlayLeft"
                        class="button-class">
                        <button class="button">Endorse</button><br />
                        <button class="button">Rewrite</button><br />
                        <button class="button">Cancel</button><br />
                        <button class="button">Compare</button><br />
                        <button class="button">Details</button><br />
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        </table>



    </div>

    <div>
        Goto <input type="text" [(ngModel)]="manualpage" (ngModelChange)="updateManualPage($event)"
            style="width: 35px; margin:15px 0px 4vh 5px;"> Page of {{totalpages}}
        <!-- Bottom Paginator -->
        <!-- <div class="paginator">
            <mat-paginator #paginator [pageSize]="5" [pageIndex]='0' (page)="handlePageEvent($event)"
                aria-label="Select page">
            </mat-paginator>
        </div> -->
    </div>







</div>