.mat-stroked-button {
    background-color: #fff;
    border: none;
    padding: 2px 5px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    border: 1px solid #ccc;
    width: auto;
    text-align: center;
}

.mat-mdc-select {
    padding-top: 2px;
}

.mat-mdc-select-value {
    color: black;
}

mat-form-field {
    margin-right: 1vh;
}

.graph-card {
    display: flex;
    justify-content: space-between;
}

.drop-show select {
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
}

.drop-show select option {
    vertical-align: top;
}

.my_class {
    color: red;

}

.filters {
    display: flex;
}

.mat-icon {
    color: rgb(160, 159, 159);
}

#divChart {
    width: 45svw;
}

::ng-deep .mat-form-field {
    padding: 0.1em 0px !important;
    font-size: 12px;
}

@media only screen and (min-width: 1350px)and (max-width:1850px) {
    #divChart {
        width: 40svw;
    }
}

@media only screen and (min-width: 1850px)and (max-width:2000px) {
    #divChart {
        width: 35svw;
    }
}

@media only screen and (min-width: 2000px)and (max-width:2500px) {
    #divChart {
        width: 30svw;
    }
}

@media only screen and (min-width: 2500px)and (max-width:4005px) {
    #divChart {
        width: 25svw;
    }
}

@media only screen and (min-width: 800px)and (max-width:1024px) {
    .filters{
        width: 50vh!important;
    }
}

@media only screen and (min-width: 530px)and (max-width:800px) {
    .filters{
        width: 50vh!important;
    }
    #divChart {
        width: 75svw;
    }
}

@media only screen and (min-width: 350px)and (max-width:530px) {
    .filters{
        display: flow-root;
    }
    #divChart {
        width: 70svw;
    }
}

@media only screen and (min-width: 1024px)and (max-width:1200px) {
    .graph-card {
        display: flow-root;
        justify-content: space-between;
    }

    .filters{
        width: 50vh!important;
    }
    #divChart {
        width: 60svw;
    }
}


@media only screen and (min-width: 1200px)and (max-width:1350px) {

     .graph-card {
        display: flow-root;
        justify-content: space-between;
    } 
    #divChart {
        width: 43svw;
    }

}


@media only screen and (min-width: 768px)and (max-width:1024px) {

    .graph-card {
        display: flow-root;
        justify-content: space-between;
    }
    #divChart {
        width: 50svw;
    }

}


@media only screen and (min-width: 320px)and (max-width:480px) {

    .graph-card {
        display: flow-root;
        justify-content: space-between;
    }

    .mat-mdc-text-field-wrapper {
        width: 75%;
        height: 4vh;
        padding: 0 1vh;
        margin: 0;
    }

    .mat-icon {
        color: gray;
    }

    .mat-mdc-form-field-flex {
        margin: 5px 0 0 0;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding-top: 0;
        padding-bottom: 0;
    }

    .mat-mdc-select-value-text {
        color: black;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }

}

@media only screen and (min-width: 480px)and (max-width:768px) {
    .graph-card {
        display: flow-root;
        justify-content: space-between;
    }

    /* #divChart {
        width: 80svw;
        overflow: hidden;
    } */
}

@media only screen and (min-width: 216px)and (max-width:320px) {

    .graph-card {
        display: flow-root;
        justify-content: space-between;
    }

}