<mat-card class="event-works">
    <div class="tab-head">
        <div class="buttons1">
            <div class="selec">
                <mat-form-field mat-flat-button appearance="outline" style="width: 150px;">
                    <mat-select placeholder="Calendar View" style="font-size: 15px;padding-right:8px">
                        <mat-option value="Task">
                            Swimlane View
                        </mat-option>
                        <mat-option value="Workflow">
                            Calendar View
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="selec">
                <mat-icon matTextPrefix
                    style="vertical-align: middle;padding-right: 5px;font-size: 20px;color: #0085FF;">supervised_user_circle</mat-icon>
                <mat-form-field appearance="outline" style="width: 150px;">
                    <mat-select placeholder="Collabrative" style="font-size: 15px;padding-right:5px">
                        <mat-option value="Task">
                            Collabrative
                        </mat-option>
                        <mat-option value="Workflow">
                            Individual
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="margin-right:15px">
                <button mat-raised-button style="background-color: #0085FF;color:white;" (click)="createDialog()">
                    <mat-icon style="background-color: #0085FF;color:white;">add</mat-icon>
                    <span style="font-weight: 600;letter-spacing: normal;background-color: #0085FF;">Add Task</span>
                </button>
            </div>
            <div style="margin-right:15px">
                <button mat-flat-button appearance="outline">
                    <mat-icon style="color:#0085FF">credit_card</mat-icon>
                    <span style="font-weight: 600;letter-spacing: normal;">
                        Custom Card</span>
                </button>
            </div>
            <div style="margin-right:15px">
                <button mat-flat-button appearance="outline">
                    <mat-icon style="color:#0085FF">filter_list</mat-icon>
                    <span style="font-weight: 600;letter-spacing: normal;"> Filter</span>
                </button>
            </div>
            <div style="margin-right:15px">
                <button mat-flat-button appearance="outline">
                    <mat-icon style="color:#0085FF">view_compact</mat-icon>
                    <span style="font-weight: 600;letter-spacing: normal;">Grouping</span>
                </button>
            </div>

            <div style="margin-right:15px;  margin-right: 65vh;">
                <button mat-flat-button appearance="outline">
                    <span style="font-weight: 600;letter-spacing: normal;"> <mat-icon
                            style="color:gray">more_horiz</mat-icon></span>
                </button>
            </div>
        </div>
        <div style="display: flex;justify-content: baseline; padding-left:40px; float: right;">
            <div style="background-color:#E6F8EB; color:#00B932; border-radius: 50%;height: 25px;width: 25px; padding-left: 5px;padding-top: 5px;">SK</div>
            <div style="background-color:#E6F3FF; color:#0082FF; border-radius: 50%;height: 25px;width: 25px; padding-left: 5px;padding-top: 5px;">KK</div>
            <div style="background-color:#FFF4E8; color:#F98600; border-radius: 50%;height: 25px;width: 25px; padding-left: 5px;padding-top: 5px;">HS</div>
        </div> 
        <div class="buttons2"> 
            <mat-icon style="color: #ccb2b2;margin-top:2.5px;font-size: 25px;">add_circle_outline</mat-icon>
        </div>
    </div>
    <div style="margin-top:-10px;padding:0px">
        <hr />
    </div>

    <!--                     Calender               -->
    <div class="calender">
    <full-calendar class="calender-class" #calender [options]="calendarOptions">
        <ng-template #eventContent let-arg >
          <!-- <b>{{arg.timeText}}</b> -->
          <i >{{arg.event.title}}</i>
          <div *ngIf="arg.event.extendedProps.name" class="name">
            <span >{{arg.event.extendedProps.name}}</span>
          </div>
        </ng-template>
      </full-calendar>
    </div>
</mat-card>



