<div class="content2">
    <h1>{{summary}}</h1>
    <p style="color: #969696;">{{growthtype}} <span *ngIf="getArrow(symbol) else elseBlock"
            style="background-color:#E6F8EB; padding: 5px; border-radius: 5px; color: #00BA34">{{growth}} <i
                class="fas fa-arrow-up" style="color: #00BA34"></i></span>
        <ng-template #elseBlock>
            <span style="background-color:#F4D9D9; padding: 5px; border-radius: 5px; color: #D44848">{{growth}} <i
                    class="fas fa-arrow-down" style="color: #D44848"></i></span>
        </ng-template>
    <div class="infocategory" *ngFor="let data of categorydata; let i=index">
        <p style="color:black;font-weight: bold;display: flex;">{{categorydata[i]}} <span
                style="color: #969696; font-weight: lighter;padding-left: 2px;"> {{ schema[i]}} </span> </p>
    </div>
    <div>
        <a mat-stroked-button href="https://www.google.com/" target="_blank">All Items <i class='fas fa-angle-right'
                style='font-size:15px; color: #969696; padding-left: 10px;'></i></a>
    </div>
</div>