<div>
    <div>
        <div>
            <mat-card-title style="font-size: 35px">Customer</mat-card-title>
        </div>
        <div style="display: flex;justify-content: space-between;">
            <div>
                <mat-card-title style="color: #969696; font-size: 18px; font-weight: 300;">Search for existing or
                    Add new Customer</mat-card-title>
            </div>
            <div>
                <button mat-raised-button style="margin-right: 10px;background-color: #0085FF;color: white;">Add
                    Customer</button>
                <button mat-button>Customize <i class='fas fa-gear'
                        style='font-size:18px; color: #969696; padding-left: 10px;'></i></button>
            </div>
        </div>
        <br>
        <div>
            <app-table> </app-table>
        </div>
    </div>
</div>