<mat-card-title style="font-size: 35px">Customer</mat-card-title>
<div class="sett">
    <mat-card-title class="serr">Search for existing or Add new Customer</mat-card-title>
    <div>
        <button mat-raised-button style="margin-right: 10px;background-color: #0085FF;color: white;">Add
            Customer</button>
        <button mat-button>Customize <i class='fas fa-gear'
                style='font-size:18px; color: #969696; padding-left: 10px;'></i></button>
    </div>
</div>
<br>
<app-table> </app-table>