<mat-card style="background-color: rgb(246, 246, 246);margin-bottom: 1vh;">
    <div class="settt2">
        <app-profile></app-profile>
    </div>
    <div class="main1">
        <div style="cursor:pointer;width:150px" routerLink=".../dash">
            <mat-icon style="color: gray;cursor: pointer;">keyboard_arrow_left</mat-icon> 
            <mat-icon style="color: #0085FF;margin-left: 1vh;">dashboard</mat-icon>
        </div>
        <div class="dropp">
            <mat-form-field appearance="outline" style="width: 150px;">
                <mat-icon matTextPrefix style="vertical-align: middle;padding-right: 5px;font-size: 20px;color: #0085FF;">assignment</mat-icon>
                <mat-select [(ngModel)]="value" style="font-size: 15px;">
                    <mat-option value="Task">
                        Task
                    </mat-option>
                    <mat-option value="Workflow">
                        Workflow
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="settt">
            <app-profile></app-profile>
        </div>
           
    </div>

    <div class="main2">
        <div class="addcir"><mat-icon>home</mat-icon><div class="home">Home</div></div>
        <div class="selec">
            <mat-form-field appearance="outline" style="width: 150px;">
                <mat-icon matTextPrefix style="vertical-align: middle;padding-right: 5px;font-size: 20px;color: gray;">check_circle</mat-icon>
                <mat-select [(ngModel)]="value" style="font-size: 15px;">
                    <mat-option value="Task">
                        Task
                    </mat-option>
                    <mat-option value="Workflow">
                        Workflow
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="addcir"><mat-icon>add_circle_outline</mat-icon><div class="add">Add to</div></div>
    </div>

    <router-outlet> </router-outlet>
    <div *ngIf="value=='Task'; else other">
        <app-my-task></app-my-task>
    </div>
    <ng-template #other>
        <app-my-workflow></app-my-workflow>
    </ng-template>

</mat-card>