table {
    width: 100%;
}

.filter-class {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px,18vh));
} 

.mat-elevation-z8 {
    box-shadow: 0px 0px 0px 0px;
    width: 100%;
}

th {
    color: rgb(145, 143, 143);
}

:host {
    display: block;
    margin-top: 1rem;
}

.info-text {
    text-align: center;
}

.post-image {
    width: 50%;
}


.tableHeaderCellDiv {
    resize: horizontal;
    overflow: hidden;
}

.mat-mdc-paginator-range-label{
    margin: 0px !important;
}

td {
    padding-left: 10px;
    border-bottom: 1px solid rgb(232, 230, 230);
}

.mat-mdc-paginator-page-size {
    display: none !important;
}

.fitt {
    width: 16vh !important;
}

.roww {
    cursor: pointer;
}

.demo-paginator {
    display: flex;
}

@media only screen and (min-width: 350px)and (max-width:410px) {
    .filter-class {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0px,16.5vh));
    } 
    .mat-elevation-z8 {
        display: flow-root !important;
    }
}

@media only screen and (min-width: 350px)and (max-width:768px) {
    .mat-elevation-z8 {
        box-shadow: 0px 0px 0px 0px;
        width: 100%;

    }

    .res-table {
        width: auto;
        overflow-x: scroll;
    }

    .demo-paginator {
        display: flex;
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {

    .mat-elevation-z8 {
        box-shadow: 0px 0px 0px 0px;
        width: 100%;
    }

    .res-table {
        width: auto;
        overflow-x: scroll;
    }

    .demo-paginator {
        display: flex;
    }
}

@media only screen and (min-width: 1024px)and (max-width:1500px) {

    .mat-elevation-z8 {
        box-shadow: 0px 0px 0px 0px;
        width: 100%;
    }

    .res-table {
        width: auto;
        overflow-x: scroll;
    }
}

@media only screen and (min-width: 1500px)and (max-width:2000px) {
    .mat-elevation-z8 {
        box-shadow: 0px 0px 0px 0px;
        width: 100%;
    }

}

@media only screen and (min-width: 2000px)and (max-width:4200px) {
    .search {
        height: 3vh;
        width: 15vw;
        border-radius: 5px;
        margin-right: 20px;
    }

    .res-table {
        width: auto;
    }
}